<link rel="stylesheet" href="../css/components.css">
    <article class="comments" role="article" aria-label="User comment">
      <header class="comments__header">
        <img class="comments__avatar" src="" alt="user_1 profile picture" aria-hidden="true" />
        <h2 class="comments__username">user_1</h2>
        <nav class="comments__menu" aria-label="Comment actions">
          <button class="comments__menu-button" aria-label="More options" type="button">
            <i class="fa fa-ellipsis"></i>
          </button>
        </nav>
      </header>
      <p class="comments__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
    </article>
