/* Font */
@font-face {
  font-family: 'BHN Editorial New Ultra light';
  src: url('../assets/fonts/BHN Editorial New Ultra Light.ttf');
}

body{
    font-family: "BHN Editorial New Ultra light";
    background: repeating-linear-gradient(
  90deg,
  #c6eafa,
  #c6eafa 20px,
  #ffffff 20px,
  #ffffff 40px
  );
  border: 1px solid #000;
}

:root {
  --border-color: #000;
  --bg-main: #fff;
  --pink-menu: #ffe2f3;
  --green-button: #ddf3df;
}

/* Menu bên trái */
.menu {
  position: fixed;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background: #ffe2f3;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu button {
  width: 60px;
  height: 60px;
  background: none;
  border: none;
  cursor: pointer;
}

.home-button img, .profile img, .notification-button img, .create-post img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu button:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

@media (max-width: 1024px) {
  .menu {
    width: 50px;
    padding: 0.5rem;
  }

  .menu button {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .menu {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px 0;
    border-radius: 15px 15px 0 0;
  }

  .menu button {
    width: 45px;
    height: 45px;
  }

  .home-button img, .profile img, .notification-button img, .create-post img {
    object-fit: contain;
  }
}

