<link rel="stylesheet" href="../css/components.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<div class="footer">
  <div class="footer-column">
    <h3>Menu</h3>
    <p><a href="auth.html">Đăng nhập</a></p>
    <p><a href="auth.html">Đăng kí</a></p>
  </div>

  <div class="footer-column">
    <h3>Địa chỉ, số điện thoại và email</h3>
    <p>Địa chỉ: Số nhà 3, ngõ 68, Quang Trung, phường Việt Trì, Tỉnh Phú Thọ</p>
    <p>Số điện thoại: 0858412999</p>
    <p>Email hỗ trợ: sally01january@gmail.com</p>
  </div>

  <div class="footer-column">
    <h3>Mạng xã hội</h3>
    <a href="https://www.tiktok.com/@spreadlove690"><i class="fa-brands fa-tiktok"></i></a>
    <a href="https://www.instagram.com/sally_ngan_dang/"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://open.spotify.com/user/31kngt232moyl34cy5q27v7t3vwe"><i class="fa-brands fa-spotify"></i></a>
    <a href="https://www.tumblr.com/blog/allaboutsally3112"><i class="fa-brands fa-tumblr"></i></a>
    <a href="https://www.reddit.com/user/sallyjellydotcom/"><i class="fa-brands fa-reddit"></i></a>
    <a href="https://github.com/sallydang01jan"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.pinterest.com/sally01january/"><i class="fa-brands fa-pinterest"></i></a>
  </div>

  <div class="footer-bottom" style="text-align: center;">
    © 2025 Sally Dang. All Rights Reserved.
  </div>
</div>